.collapseTreeview {
    width: 30px !important;
}
.treeview {

    -webkit-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
    transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);

    width: 200px;
    height: 100%;
    //min-height: 850px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;

    // 侧边栏左侧收缩
    & .unfold {
        &:hover {
            cursor: pointer
        }
        color: #191919;
        text-decoration: none;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        background-position: -15px 0;
        position: absolute;
        top: 40%;
        margin-top: -50px;
        right: 0px;
        width: 15px;
        height: 100px;
    }

    & .nodeInfo {
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        & .expandIcon {
            //float: right;
            font-style: normal;
            padding-left: 2px;
            //padding: 8px 0 8px 5px;
        }

        & span {
            line-height: 30px;
	        width: 1rem;
        }

        & span.indent {
	        margin-left: 10px;
	        margin-right: 10px;
        }

        & span.icon {
	        margin-left: 0px;
            padding: 0 10px 0 8px;
        }
        & span.mif-2x {
            vertical-align: bottom !important;
        }
    }

    & .list-root {
        border-bottom: 1px solid #ddd;
    }

    & .list-group {
        margin-bottom: 0;
    }

    & .list-group-c {
        max-height: 125px;
        overflow: auto;
    }

    & .list-group .list-group-item {
        -webkit-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
        -o-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
        transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
        cursor: pointer;
        white-space:nowrap;
        text-overflow:ellipsis;
        border-right: none;
        border-left: none;
        padding: 0;
        overflow: hidden;
        & a {
            color: #000;
        }
    }

    & .list-group .list-group-item:last-child {
        border-bottom: 0;
    }

    & .list-group .list-group-item a:hover {
        color: #5d9cec;
    }
}
