.export_info{
    margin: 0 5px 5px 5px;
    p{
        margin-bottom: 6px;
    }
}
.export_progress{
    margin-bottom: 10px;
    .ex_percent{
        color: #0c468c;
        font-weight: 700;
        .ant-progress{
            margin-bottom: 2px;
        }
        i{
            margin-right: 4px;
        }
    }
    .ex_time{
        float: right;
    }
}
.export_modal{
    .ant-input-number{
        width: 60px !important;
    }
    .ant-alert-with-description{
        padding: 10px 10px 10px 58px;
    }
    .ant-alert-with-description{
        .ant-alert-icon{
            left: 16px;
        }
    }
}
.mt8 {
    margin-top: 8px;
}
.fw700{
    font-weight: 700;
}