// v-height 变量
@mixin v-height($h) {
    height: $h;
    line-height: $h;
}
@mixin box-shadow($h, $v, $b, $s, $c, $io, $h1, $v1, $b1, $s1, $c1, $io1) {
    -webkit-box-shadow: $h $v $b $s $io outset, $v1 $b1 $s1 $c outset;
    -moz-box-shadow: $h $v $b $s $io outset, $v1 $b1 $s1 $c outset;
    box-shadow: $h $v $b $s $io outset, $v1 $b1 $s1 $c outset;
}
#modal {
    position: absolute;
    top: 0;
    z-index: 8000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .9;
    background-color: #3a3f51;   

    .my-prompt {
        width: 30%;
        margin: 0 auto;
        background: #F1F1F1;
        margin-top: 150px;
        position: relative;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;   
 
        ul {
            padding: 5px 30px;

            li {
                margin-bottom: 5px;
                label {
                    display: inline-block;
                    width: 30%;
                }
                input {
                    display: inline-block;
                    width: auto;
                }
            }
        }

       .title {
            width: 100%;
            background: #428bca;
            @include v-height(40px); 

            &:after {
                width: 40px;
                content: "关闭";
                padding-left: 6px;
                display: inline-block;
                font-size: 12px;
                background-color: #5d9cec;
                color: #fff;
                float: right;
                cursor: pointer;
                @include v-height(40px); 
            } 
        }
        
        .tip {
             margin: 5px 20px;
             min-height: 40px;
        } 
    }
    .modalOperate {
        bottom: 5px;
        width: 100%;
        border-top: 1px solid #ccc;
        padding-top: 5px;
        padding-right: 10px;
        overflow: hidden; 
        button {
            margin-right: 5px;
            font-size: 12px;
            float: right; 
        } 
    } 
}
