// v-height 变量
@mixin v-height($h) {
    height: $h;
    line-height: $h;
}
@mixin box-shadow($h, $v, $b, $s, $c, $io, $h1, $v1, $b1, $s1, $c1, $io1) {
    -webkit-box-shadow: $h $v $b $s $io outset, $v1 $b1 $s1 $c outset;
    -moz-box-shadow: $h $v $b $s $io outset, $v1 $b1 $s1 $c outset;
    box-shadow: $h $v $b $s $io outset, $v1 $b1 $s1 $c outset;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #747474;
    opacity: 0.9;
    
    .my-prompt {
        width: 40%;
        background: #F7F7F7;
        position: absolute;
        left: 30%;
        top: 150px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;   
        cursor: pointer;        
 
        > ul {
            padding: 5px 30px;

            li {
                margin-bottom: 5px;
                label {
                    display: inline-block;
                    width: 30%;
                }
                input {
                    display: inline-block;
                    width: auto;
                }
            }
        }

       .title {
            width: 100%;
            @include v-height(40px); 

            &:after {
                width: 40px;
                content: "关闭";
                padding-left: 6px;
                display: inline-block;
                font-size: 12px;
                color: #000;
                float: right;
                cursor: pointer;
                @include v-height(40px); 
            } 
        }
        
        .tip {
             margin: 5px 20px;
             min-height: 40px;
        } 
    }
    .modalOperate {
        bottom: 5px;
        width: 100%;
        padding-top: 5px;
        padding-right: 10px;
        overflow: hidden;
        >div {
            width: 40%;
            margin: 0 auto;
        } 
        button {
            margin-right: 15px;
            font-size: 14px;
            width: 78px;
        }
        button.btn-danger {
            border: 1px solid #0c9be3;
            color: #0c9be3;
            background: #fff;
        } 
    } 
}
