.umpui-navigation {
    font-size: 14px;
    bottom: 0;
    background-color: #293038;
    color: #fff;
    margin-bottom: 0px;
    height: 100%;
    position: relative;
    a {
        text-decoration: none;
        color: rgb(173, 178, 196);
        cursor: pointer;
    }
    .navItem {
        span {
            display: block;
            height: 40px;
            line-height: 40px;

            &:hover {
                background: #394555;
            }
            &.sel {
                background: #0099cc;
                
                .fa {
                    color: #fff;
                 }
            }
        }
        .fa {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin-right: 10px;
            font-size: 16px;
            color: #aeb9c2;
        }
        .sel {
            a {
                color: #fff;
            }
        }
    }
    .sub_nav_item_active {
        .fa, a {
            color: #fff;
        }
    }
    .nav_drop_down {
        display: none; 
    }
    .nav_drop_down_open {
        display: block;
        
        li {
            padding-left: 16px;

            &:hover {
                background: #394555;
            }
        }
    }
}
.umpui-shrink.umpui-navigation {
    width: 50px;
    .navItem {
        margin-top: 10px;
        text-align: center;
        .fa {
            width: 50px;
            height: 40px;
            line-height: 40px;
        }
    }
    .nav_drop_down {
        li {
            padding-left: 0px;
        }
    }
}
