.pagination {
    li {
        display: inline-block;
        .goto {
            width: 50px;
            height: 32px;
            float: left;
            border: 1px solid #d3e2d5;
            border-left: 0px;
            border-right: 0px;
            text-align: center;
        }
    }
}
