.tableForm {
    .fa {
        margin-right: 3px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 3px;
    }
    td {
        text-align: center !important;
        vertical-align: middle !important;
    }
}
