.reactTable {
    .nav {
        padding-left: 15px;
    }
    .panel-heading {
        margin: 0px 10px;
        padding: 0px;
        height: 40px;
        line-height: 40px;
        vertical-align: miiddle;
        border-bottom: 1px solid #f1f1f1;
    }
    .panel-body {
        padding-top: 0 !important;
        padding: 0 !important;
        margin: 0;
    }
    table {
        border-left: 1px solid #f7f7f7 !important;
        border-right: 1px solid #f7f7f7 !important;
        border-bottom: 1px solid #f7f7f7 !important;
        thead {
            tr {
                th {
                    background: #f7f7f7;
                    padding: 8px;
                }
            }
        }
        td {
            .fa {
                cursor: pointer;
                color: #0e90d2;
            }
        }
        td.extra {
            padding: 8px;
            span {
                margin-right: 10px;
                cursor: pointer;
                color: #0e90d2;
                font-size: 16px;
            }
        }
        td.ellipsis {
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .table-header {
        display: inline-block;
    }
    .filter {
        margin-top: 4px;
    }
    .header-extra {
        display: inline-block;
        position: relative;
        float: right;
        margin-left: 10px;
        cursor: pointer;
        .fa-filter {
            position: absolute;
            top: 0.6em;
            left: 0.5em;
        }
        input {
            padding-left: 20px;
        }
    }
    .expand {
        cursor: pointer;
    }
    tbody>tr:hover {
        background-color: #fafbfc;
    }
    tbody>tr:nth-of-type(odd) {
        background-color: #fff;
    }
    .json {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            overflow: auto;
            color: green;
            max-width: 200px;
            white-space: pre;
        }
    }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
}
