.transver-form {
    .fill {
        &:after {
            content: '*';
            color: red;
        } 
    }
    .row {
        div {
            label {
                margin-right:5px;
            }
        }
    }
    .form-buttons {
        margin: 10px 15px;
        text-align: center;
        button:not(:last-child) {
            margin-right: 14px;
        }
    }
}
