.umpui-table {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    padding: 0 10px;
    .show {
        display: block;
        z-index: 100;
    }
    .hidden {
        display: none;
    }
    &.umpui-fullscreen {
        position: fixed;
        z-index: 999;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .panel-heading {
        padding: 0px;
        height: 40px;
        line-height: 40px;
        vertical-align: miiddle;
    }
    .panel-body {
        padding-top: 0 !important;
        padding: 0 !important;
        margin: 0;
    }
    .spantip {
        margin-right: 10px;
    } 
    table {
        border-left: 1px solid #f7f7f7 !important;
        border-right: 1px solid #f7f7f7 !important;
        border-bottom: 1px solid #f7f7f7 !important;
        thead {
            tr {
                th {
                    background: #f7f7f7;
                    padding: 8px;
                    cursor: pointer;
                }
            }
        }
        td {
            .fa {
                cursor: pointer;
                color: #0e90d2;
            }
            pre {
                margin: 0px 20px;
                padding: 0px;
            }
        }
        td.operation {
            &>a {
                margin-right: 5px;
            }
        }
        td.extra, th.extra {
            padding: 2px;
            white-space: nowrap;
            span {
                margin-right: 5px;
                cursor: pointer;
                color: #0e90d2;
                font-size: 16px;
            }
        }
        td.ellipsis {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .table-header {
        display: inline-block;
    }
    .filter {
        margin-top: 4px;
    }
    .umpui-header-extra {
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 10px;
        cursor: pointer;
        .fa-filter {
            position: absolute;
            top: 0.6em;
            left: 0.5em;
        }
        .umpui-edit {
            display: inline-block;
        }
        .umpui-edit-cs {
            position: fixed;
            right: 50px;
            left: initial;
        }
        input {
            padding-left: 20px;
        }
        ul {
            list-style: none;
            width: 120px;
            position: absolute;
            border-radius: 8px;
            left: -100px;
            background-color: #fff;
            box-shadow: 0 0 10px rgb(72, 195, 233);
            text-align: center;
            li {
                border-bottom: 1px solid #fcfcfc;
            }
            li:last-child {
                border: none;
            }
            .fa {
                margin-left: 5px;
                margin-right: 10px;
            }
        }
    }
    .expand {
        cursor: pointer;
    }
    tbody>tr:hover {
        background-color: #fafbfc;
    }
    tbody>tr:nth-of-type(odd) {
        background-color: #fff;
    }
    .umpui-sortcon {
        display: inline-block;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        margin-left: 5px;
        .fa {
            display: block;
        }
        .fa-sort-desc {
            margin-top: -14px;
        }
        .umpui-asc, .umpui-desc {
            color: #44c2e9;
        }
    }
    .json {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            overflow: auto;
            color: green;
            max-width: 200px;
            white-space: pre;
        }
    }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
}
