.reactTable {
    .nav {
        padding-left: 15px;
    }
    .panel-heading {
        border-bottom: 1px solid #ccc;
        margin: 1px;
        height: 40px;
        overflow: hidden;
        vertical-align: middle;
    }
    .panel-body {
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
    .table-header {
        display: inline-block;
    }
    .filter {
        margin-top: -6px;
    }
    .header-extra {
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 10px;
        cursor: pointer;
        .fa-filter {
            position: absolute;
            top: 0.5em;
            left: 0.5em;
        }
        input {
            padding-left: 20px;
        }
    }
    .expand {
        cursor: pointer;
    }
    tbody>tr:hover {
        background-color: #fafbfc;
    }
    tbody>tr:nth-of-type(odd) {
        background-color: #fafbfc;
    }
}
