.tableForm {
    .fa {
        margin-right: 3px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 3px;
    }
    thead > tr {
        td {
            border-top: 1px solid #eee !important;
            height: 36px;
        }
    }
    td {
        text-align: center !important;
        vertical-align: middle !important;
    }
    .form-control {
    }
}
