.umpui-list {
    .umpui-list-ul {
        list-style: none;
        li {
            border-bottom: 1px dashed #ddd;
        }
        li:nth-child(odd) {
            background: #fff;
        }
        li:nth-child(even) {
            background: #f8f8f8;
        }
    }
    .umpui-li-title {
        width: 20%;
        font-weight: bold;
        float: left;
        padding: 4px;
    }
    .umpui-li-value {
        width: 86%;
        padding: 4px;
    }
}
