.panel-default .widget-head {
    background-color: #ECE3E3;
}
.widget-operation {
    float: right;
    margin-top: -20px;
    margin-left: 14px;
    color: #0685D2;
}
.widget-operation :hover {
    color: #000;
}
.widgetExpandView {
    background: #fff !important;
    width: auto !important;
    height: 100% !important;
    overflow: scroll;
    margin: 0 !important;
    padding: 20px !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0px !important;
    z-index: 99 !important;
    transition: all 0s ease 0s !important;
    -ms-transition: all 0s ease 0s !important;
    -moz-transition: all 0s ease 0s !important;
    -webkit-transition: all 0s ease 0s !important;
    -o-transition: all 0s ease 0s !important
}
