.panel-default .widget-head {
    background-color: #ECE3E3;
}
.widget-operation {
    float: right;
    margin-top: -20px;
    margin-left: 14px;
    color: #0685D2;
}
.widget-operation :hover {
    color: #000;
}
