//自定义开始
body {
    background: #fff;
}
.umpui-component {
    position: absolute;
    left: 200px;
    margin-top: 10px;
    right: 0px;
}
.umpui-block {
    margin: 10px 5px;
}
pre {
    margin: 10px 20px;
    padding: 5px;
}
// 结束
// markdown样式    

.flatdoc-wrapper {
    display: block;
    margin: -15px;
}
@media only screen and (min-width: 768px) {
    .flatdoc-wrapper {
        margin: -20px;
    }
}
.flatdoc-wrapper .flatdoc {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .flatdoc-wrapper .flatdoc {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
  }
}
.flatdoc-wrapper .flatdoc-menu {
  border-right: 1px solid #e1e2e3;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  .flatdoc-wrapper .flatdoc-menu {
    position: relative;
    display: table-cell;
    height: 100%;
    vertical-align: top;
    width: 200px;
  }
  .flatdoc-wrapper .flatdoc-menu > ul {
    padding-top: 20px;
  }
}
.flatdoc-wrapper .flatdoc-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.flatdoc-wrapper .flatdoc-menu ul.level-1 > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e2e3;
  pointer-events: none;
}
.flatdoc-wrapper .flatdoc-menu ul.level-2 > li + li > a,
.flatdoc-wrapper .flatdoc-menu ul.level-2 > li:first-child > a {
  background-color: rgba(255, 255, 255, 0.75);
}
.flatdoc-wrapper .flatdoc-menu ul a {
  position: relative;
  display: block;
  padding: 10px;
  padding-right: 30px;
}
.flatdoc-wrapper .flatdoc-menu ul a,
.flatdoc-wrapper .flatdoc-menu ul a:visited {
  color: #3a3f51;
}
.flatdoc-wrapper .flatdoc-menu ul a:hover {
  color: #2e3241;
  background-color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.flatdoc-wrapper .flatdoc-menu ul a.level-1 {
  font-family: '微软雅黑';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.flatdoc-wrapper .flatdoc-menu ul a.level-1,
.flatdoc-wrapper .flatdoc-menu ul a.level-1:visited {
  color: #3a3f51;
}
.flatdoc-wrapper .flatdoc-menu ul a.level-1:hover {
  color: #3a3f51;
}
.flatdoc-wrapper .flatdoc-menu ul a.level-2 {
  font-weight: 600;
}
.flatdoc-wrapper .flatdoc-menu ul a.level-3 {
  font-weight: normal;
  font-size: 12px;
  padding-left: 15px;
}
.flatdoc-wrapper .flatdoc-menu ul a.active {
  font-weight: bold !important;
}
.flatdoc-wrapper .flatdoc-menu ul a.active,
.flatdoc-wrapper .flatdoc-menu ul a.active:visited,
.flatdoc-wrapper .flatdoc-menu ul a.active:hover {
  color: #505050 !important;
}
.flatdoc-wrapper .flatdoc-menu ul a.active:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 15px;
  width: 9px;
  height: 3px;
  border-radius: 2px;
  background: #3a3f51;
}
.flatdoc-wrapper .flatdoc-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 50px;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .flatdoc-wrapper .flatdoc-content {
    display: table-cell;
    height: 100%;
    vertical-align: top;
  }
}
.flatdoc-wrapper .flatdoc-content pre {
  background-color: #f3f6fb;
  border: 1px solid #dde6e9;
}
.flatdoc-wrapper .flatdoc-content pre code {
  display: inline-block;
  white-space: pre;
}
.flatdoc-wrapper .flatdoc-content pre code .string,
.flatdoc-wrapper .flatdoc-content pre code .number {
  color: #2b957a;
}
.flatdoc-wrapper .flatdoc-content pre code .init {
  color: #2b957a;
}
.flatdoc-wrapper .flatdoc-content pre code .keyword {
  color: #3a3f51;
  font-weight: bold;
}
.flatdoc-wrapper .flatdoc-content pre code .comment {
  color: #909fa7;
}
.flatdoc-wrapper .flatdoc-content > h1 {
  padding: 11px 0;
  margin: 0;
  line-height: 1.3;
  font-size:20px;
}
.flatdoc-wrapper .flatdoc-content > h2,
.flatdoc-wrapper .flatdoc-content > h3 {
  padding: 20px;
  border-top: 1px solid #f1f2f3;
  margin: 0 -20px;
}
.flatdoc-wrapper .flatdoc-content > h4,{
  font-size: 12px;
}
.flatdoc-wrapper .button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 13px;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.flatdoc-wrapper .button:focus,
.flatdoc-wrapper .button.focus {
  color: #ffffff;
  background-color: #1aacda;
  border-color: #189ec8;
}
.flatdoc-wrapper .button:hover {
  color: #ffffff;
  background-color: #1aacda;
  border-color: #189ec8;
}
.flatdoc-wrapper .button:active,
.flatdoc-wrapper .button.active,
.open > .dropdown-toggle.flatdoc-wrapper .button {
  color: #ffffff;
  background-color: #1aacda;
  border-color: #189ec8;
}
.flatdoc-wrapper .button:active:hover,
.flatdoc-wrapper .button.active:hover,
.open > .dropdown-toggle.flatdoc-wrapper .button:hover,
.flatdoc-wrapper .button:active:focus,
.flatdoc-wrapper .button.active:focus,
.open > .dropdown-toggle.flatdoc-wrapper .button:focus,
.flatdoc-wrapper .button:active.focus,
.flatdoc-wrapper .button.active.focus,
.open > .dropdown-toggle.flatdoc-wrapper .button.focus {
  color: #ffffff;
  background-color: #1aacda;
  border-color: #189ec8;
}
.flatdoc-wrapper .button:active,
.flatdoc-wrapper .button.active,
.open > .dropdown-toggle.flatdoc-wrapper .button {
  background-image: none;
}
.flatdoc-wrapper .button.disabled:hover,
.flatdoc-wrapper .button[disabled]:hover,
fieldset[disabled] .flatdoc-wrapper .button:hover,
.flatdoc-wrapper .button.disabled:focus,
.flatdoc-wrapper .button[disabled]:focus,
fieldset[disabled] .flatdoc-wrapper .button:focus,
.flatdoc-wrapper .button.disabled.focus,
.flatdoc-wrapper .button[disabled].focus,
fieldset[disabled] .flatdoc-wrapper .button.focus {
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.flatdoc-wrapper .button .badge {
  color: #23b7e5;
  background-color: #ffffff;
}

